name: Deployment pipeline

on:
  push:
    branches:
      - master

jobs:
  simple_deployment:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: perform npm installations
        run: npm install
      - name: lint the code
        run: npm run eslint
      - name: build the app
        run: npm run build
      - name: run the tests
        run: npm run test